In [40]:
#Loading
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
#Modeling
from sklearn.model_selection import KFold, cross_val_score, train_test_split, cross_validate
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
#Visual
import matplotlib.pyplot as plt
import seaborn as sns
#For TfIdf
from scipy.sparse import csr_matrix, hstack, vstack
from sklearn.feature_extraction.text import TfidfVectorizer
import scipy

In [41]:
df = pd.read_csv('piter_filtered.csv')

In [42]:
def get_one_hot(df, cols):
  df = pd.get_dummies(data = df, columns = cols)
  print ("\nOne_hot for : {} done.".format(cols))

  return df

In [43]:
def prepare_data(data):
  data.drop(['City', 'Floor/Total floors', 'Link', 'Comment', 'Seller', 'Address'], axis = 1, inplace = True)#'Material' 'Address','Seller',
  y = data['Price']
  data.drop('Price', axis = 1, inplace = True)

  return data, y

In [44]:
df.head(1)

,Latitude,Longitude,City,Area,Address,Rooms,Floor/Total floors,Material,Total area,Live area,Kitchen,Toilet type,Price,Link,Seller,Comment
0,59.911448,30.308232,Санкт-Петербург,Адмиралтейский район,Измайловский пр. 16,1,4/7,СФ,28.8,19.3,3.0,Р,2750,http://www.bn.ru/detail/flats/1133049.html,АН Панорама,"доля, торг, ОС в коммун. кв"

In [45]:
cols = ['Material', 'Area', 'Toilet type']
df = get_one_hot(df, cols)

One_hot for : ['Material', 'Area', 'Toilet type'] done.

In [46]:
df.head(1)

,Latitude,Longitude,City,Address,Rooms,Floor/Total floors,Total area,Live area,Kitchen,Price,...,Area_Центральный район,Toilet type_2,Toilet type_3,Toilet type_,Toilet type_Б/В,Toilet type_В/К,Toilet type_Д,Toilet type_Д/К,Toilet type_Р,Toilet type_С
0,59.911448,30.308232,Санкт-Петербург,Измайловский пр. 16,1,4/7,28.8,19.3,3.0,2750,...,0,0,0,0,0,0,0,0,1,0

In [47]:
df, y = prepare_data(df)

In [48]:
reg = LinearRegression()

In [51]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
r2_score(model.predict(X_test), y_test)

0.5036150651707001

In [50]:
mean_squared_error(model.predict(X_test), y_test)

22290187.36602424